[submodule "fx-portal"]
	path = fx-portal
	url = git@github.com:jdkanani/fx-portal.git
[submodule "props-token-distribution"]
	path = props-token-distribution
	url = git@github.com:propsproject/props-token-distribution.git
  branch = feature/add-permit-and-transfer-contract-funds
